.nav-bar{
    background-color: #203d61;
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: sans-serif;
}

.nav-bar p,
.nav-bar a {
  display: inline-block; /* or use "inline" to display them in one line */
  margin: 0; /* remove any default margins */
  padding: 10px; /* add some padding to the elements */
}

#content{
    color: white;
    text-decoration: none;
    text-underline-offset: 20px;
    text-decoration-thickness: 3px;
    text-decoration-color: #3a7978;
    padding-right: 30px;
    padding-left: 30px;
}

#content:hover{
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 3px;
    text-decoration-color: #3a7978;
}

#gradebook{
    color: white;
    text-decoration: none;
    padding-right: 30px;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 3px;
    text-decoration-color: #3a7978;
}

#gradebook:hover{
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 3px;
    text-decoration-color: #3a7978;
}

#students{
    color: white;
    text-decoration: none;
    padding-right: 30px;
}

#students:hover{
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 3px;
    text-decoration-color: #3a7978;
}

/********************************************** NAV BAR END **********************************************/
main{
    font-family: sans-serif;
}
.second-nav{
    padding: 20px;
    border-bottom: solid #e7e9ec;
    height: 40px;
}
/* Style the search field */
main input[type=text] {
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 200px;
    border: none;
    border-bottom: solid #e7e9ec;
  }

/* Style the submit button */
main button {
    float: left;
    width: 50px;
    padding: 10px;
    background: transparent;
    color: #203d61;
    font-size: 17px;
    border: none;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  main button:hover {
    background: lightgray;
  }
  
  #class-average{
    margin-left: 350px;
  }
  #based-on{
    margin-left: 340px;
    font-size: small;
  }

  #based-on span{
    color: #2167d8;
  }

  #student-name{
    text-align: center;
  }