.nav-bar{
    background-color: #203d61;
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: sans-serif;
}

body{
    font-family: sans-serif;
    margin: 0;
}

.nav-bar p,
.nav-bar a {
  display: inline-block; /* or use "inline" to display them in one line */
  margin: 0; /* remove any default margins */
  padding: 10px; /* add some padding to the elements */
}

#content{
    color: white;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 3px;
    text-decoration-color: #3a7978;
    padding-right: 30px;
    padding-left: 30px;
}

#content:hover{
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 3px;
    text-decoration-color: #3a7978;
}

#gradebook{
    color: white;
    text-decoration: none;
    padding-right: 30px;
    text-decoration-color: #3a7978;
    text-decoration-thickness: 3px;
}

#gradebook:hover{
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 3px;
    text-decoration-color: #3a7978;
}

#students{
    color: white;
    text-decoration: none;
    padding-right: 30px;
}

#students:hover{
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 3px;
    text-decoration-color: #3a7978;
}

/********************************************** NAV BAR END **********************************************/
main{
    width: 100%;
    height: 100%;
    display: flex;
    font-family: sans-serif;
}

.create-question{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    background-color: #e7e9ec;
    margin-top: 80px;
    width: 100%;
    height: 100%;
}

.create-question h4{
    text-align: center;
    padding-top: 30px;
    color: #203d61;
    background-color: white;
    height: 50px;
    margin: 0;
    border-top: solid #e7e9ec;
    border-bottom: solid #e7e9ec;
}

.create-question p1{
    color: #203d61;
}

.create-question div{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding: 20px;
    margin-left: 70px;
    margin-right: 80px;
    background-color: white;
    height: auto;
}


.create-question div br{
    border-bottom: solid #e7e9ec;
}

.nav-left{
    background-color: #f9f9f9;
    width: 30%;
    height: 100%;
    border-right: solid #e7e9ec;
}

.nav-left-top{
    height: 80px;
    border-bottom: solid #e7e9ec;
}
#create-btn{
    background-color: #2167d8;
    color: white;
    border: none;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

button{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover{
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
    cursor: pointer;
}

#folder{
    display: block;
    font-size: large;
    padding: 10px;
}

#folder:hover{
    background-color: #2167d8;
}

#folder-content{
    position: relative;
}

#folder-content label{
    margin-left: 20px;
    display: block;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    padding: 10px;
}

#folder-content label:hover{
    background-color: #e7e9ec;
}

.nav-right{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-right-top{
    height: 80;
    width: 100%;
    display: flex;
    border-bottom: solid #e7e9ec;
    justify-content: space-between;
}
.nav-right-top p, button{
    display: inline-block;
    padding: 20px;
}

.nav-right-top button{
    float: right;
    width: auto;
    height: 30px;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-right: 20px;
    border: none;
}

#present-slide-btn{
    background-color: #2167d8;
    color: white;
}

#assign-btn{
    color: #2167d8;
    background-color: white;
}

.logout{
    float: right;
    color: white;
    text-decoration: none;
}

.logout:hover{
    background-color: #2167d8;
}

#stop_question{
    border: none;
    background-color: #2167d8;
    color: white;
}

#save-question{
    border: none;
    background-color: #2167d8;
    color: white;
}

#cancel-question{
    color: #2167d8;
    background-color: white;
    border: none;
}

#q_button{
    padding: 8px !important;
    font-size: medium;
    border: none;
    color: #2167d8;
    background-color: white;
    border-radius: 2px;
}

#q_button_container{
    width: 100%;
    background-color: #2167d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5%;
}
#question_form{
    width: 70%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#answer_question{
    width: 100%;
    padding: 2%;
    border: 1px solid #e7e9ec;
    border-radius: 5px;
    margin-bottom: 1%;
}

#question_container1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question_container2{
    margin: 0;
    width: 50%;
    box-shadow: none !important;
    border: 1px solid #e7e9ec;
    border-radius: 5px;
}

#question_container2 input{
    width: 100%;
    height: 2.5rem;
}

