<html>
    <head>
        <title>Course</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
        <link rel="stylesheet" href="../static/css/content.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <nav class="nav-bar">
        <p>{{course['title']}}</p>
        <a id="content" href="/course/{{course['code']}}">CONTENT</a>
        <a id="gradebook" href="/gradebook/{{course['code']}}">GRADEBOOK</a>
        <!--<a id="students" href="#">STUDENTS</a>-->

        <a class="logout" href="/logout">
            <i class="bi bi-box-arrow-right"></i>
            <span>Log Out</span>
        </a>
    </nav>

    <main class="main">
        <div class="nav-left">
            <div class="nav-left-top">
                {% if is_instructor == true and is_question_active == false %}
                <button id="create-btn" onclick="showCreate()">Create</button>
                {% endif %}
            </div>
            <label id="folder" for="folders-content" onclick="toggleOptions()">Week 1 Folder</label>
            <div id="folder-content" name="Week 1 Folder" style="display: none;">
                <label>Slide 1</label>
                <label>Slide 2</label>
                <label>Slide 3</label>
            </div>
        </div>

        <form action="/post-question" method="post" enctype="multipart/form-data" id="create-question" class="create-question" style="display: none;">
            <h4>Create Multiple Choice Questions</h4>
<!--            <div>-->
<!--                <input name="course-code" value="{{ course['code'] }}" hidden>-->
<!--                <p1>Question Details</p1><br><br>-->
<!--                <label for="question">Question:</label>-->
<!--                <input type="text" name="question" id="question">-->
<!--                <br><br>-->
<!--                <label for="correct-answer">Correct Answer:</label>-->
<!--                <input type="text" name="correct-answer" id="correct-answer">-->
<!--                <br><br><label for="incorrect-answers">Incorrect Answers:</label><br>-->
<!--                <label id="incorrect-answers">A</label>-->
<!--                <input type="text" name="a1" class="incorrect-answer"><br><br>-->
<!--                <input type="text" name="a2" class="incorrect-answer"><br><br>-->
<!--                <input type="text" name="a3" class="incorrect-answer"><br><br>-->
<!--                <input type="text" name="a4" class="incorrect-answer"><br><br>-->
<!--                <button id="cancel-question" onclick="cancelQuestion()">Cancel</button>-->
<!--                <button id="save-question" type="submit">Save</button>-->
<!--            </div>-->

            <div>
                <input name="course-code" value="{{ course['code'] }}" hidden>
                <p1>Question Details</p1><br><br>
                <label for="question">Question:</label>
                <input type="text" name="question" id="question">
                <br><br>
                <label id="choice_header">Choices:</label><br>
                <input type="radio" name="a1_rad">
                    <input type="text" name="a1" class="cq_choice"><br>
                <input type="radio" name="a2_rad">
                    <input type="text" name="a2" class="cq_choice"><br>
                <input type="radio" name="a3_rad">
                    <input type="text" name="a3" class="cq_choice"><br>
                <input type="radio" name="a4_rad">
                    <input type="text" name="a4" class="cq_choice"><br><br>
                <button id="cancel-question" onclick="cancelQuestion()">Cancel</button>
                <button id="save-question" type="submit">Save</button>
            </div>

        </form>

        <div class="nav-right">
            <div class="nav-right-top">
                <p id="folder-status">Private</p>
                <div>
                    <button id="present-slide-btn">Present Slides  &#9662</button>
                    <button id="assign-btn">Assign  &#9662</button>
                </div>
            </div>

            <form id="question_form" style="visibility: hidden;">
                <p id="q_question"></p>
                <div id="answer_question">
                    <input type="radio" name="q_choice" value="a1">
                    <label id="q_a1"></label>a1<br>
                </div>
                <div id="answer_question">
                    <input type="radio" name="q_choice" value="a2">
                    <label id="q_a2"></label>a2<br>
                </div>
                <div id="answer_question">
                    <input type="radio" name="q_choice" value="a3">
                    <label id="q_a3"></label>a3<br>
                </div>
                <div id="answer_question">
                    <input type="radio" name="q_choice" value="a4">
                    <label id="q_a4"></label>a4<br>
                </div>

                <div id="q_button_container">
                    <button type="button" id="q_button"><i class="fa fa-paper-plane-o"></i>Submit</button>
                </div>
            </form>

            {% if is_question_active == true and is_instructor == true %}
            <form action="/stop-question" method="post" enctype="multipart/form-data">
                <input type="text" name="course-code" value="{{ course['code'] }}" hidden>
                <button id="stop_question" type="submit">Stop Question</button>
            </form>
            {% endif %}
        </div>

        <div>

        </div>
        <p id="course-code" hidden>{{course['code']}}</p>
    </main>

    <script>
        function toggleOptions() {
          var select = document.getElementById("folder-content");
          if (select.style.display === "none") {
            select.style.display = "block";
          } else {
            select.style.display = "none";
          }
        }

        function showCreate(){
            var question = document.getElementById("create-question");
            question.style.display = "block";
        }

        function cancelQuestion(){
            var question = document.getElementById("create-question");
            question.style.display = "none";
        }
    </script>
    <script id="javascript" type="module" src="/functions.js"></script>
<!--    <script src="/functions.js" onload="getQuestion()"></script>-->
</html>