<html>
    <head>
        <title>Course</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
        <link rel="stylesheet" href="../static/css/content.css">
    </head>

    <nav class="nav-bar">
        <p>{{course['title']}}</p>
        <a id="content" href="content.html">CONTENT</a>
        <a id="gradebook" href="gradebook.html">GRADEBOOK</a>
        <a id="students" href="#">STUDENTS</a>
    </nav>

    <main class="main">
        <div class="nav-left">
            <div class="nav-left-top">
                {% if is_instructor == true %}
                <button id="create-btn" onclick="showCreate()">Create</button>
                {% endif %}
            </div>
            <label id="folder" for="folders-content" onclick="toggleOptions()">Week 1 Folder</label>
            <div id="folder-content" name="Week 1 Folder" style="display: none;">
                <label>Slide 1</label>
                <label>Slide 2</label>
                <label>Slide 3</label>
            </div>
        </div>

        <form action="/post-question" method="post" enctype="multipart/form-data" id="create-question" class="create-question" style="display: none;">
            <h4>Create Multiple Choice Questions</h4>
            <div>
                <p1>Question Details</p1><br><br>
                <label for="question">Question:</label>
                <input type="text" name="question" id="question">
                <br><br>
                <label for="correct-answer">Correct Answer:</label>
                <input type="text" name="correct-answer" id="correct-answer">
                <br><br><label for="incorrect-answers">Incorrect Answers:</label><br>
                <label id="incorrect-answers">A</label>
                <input type="text" name="a1" class="incorrect-answer"><br><br>
                <input type="text" name="a2" class="incorrect-answer"><br><br>
                <input type="text" name="a3" class="incorrect-answer"><br><br>
                <input type="text" name="a4" class="incorrect-answer"><br><br>
                <button id="cancel-question" onclick="cancelQuestion()">Cancel</button>
                <button id="save-question" type="submit">Save</button>
            </div>

        </form>

        <div class="nav-right">
            <div class="nav-right-top">
                <p id="folder-status">Private</p>
                <div>
                    <button id="present-slide-btn">Present Slides  &#9662</button>
                    <button id="assign-btn">Assign  &#9662</button>
                </div>
            </div>

            <form id="question_form" style="visibility: hidden;">
                <p id="q_question"></p>
                <input type="radio" name="q_choice" value="a1">
                <label id="q_a1"></label><br>
                <input type="radio" name="q_choice" value="a2">
                <label id="q_a2"></label><br>
                <input type="radio" name="q_choice" value="a3">
                <label id="q_a3"></label><br>
                <input type="radio" name="q_choice" value="a4">
                <label id="q_a4"></label><br>

                <button type="button" onclick="answerQuestion()">Submit</button>
            </form>
        </div>

        <div>

        </div>
    </main>

    <script>
        function toggleOptions() {
          var select = document.getElementById("folder-content");
          if (select.style.display === "none") {
            select.style.display = "block";
          } else {
            select.style.display = "none";
          }
        }

        function showCreate(){
            var question = document.getElementById("create-question");
            question.style.display = "block";
        }

        function cancelQuestion(){
            var question = document.getElementById("create-question");
            question.style.display = "none";
        }
    </script>
    <script type="module" src="/websockets.js"></script>
    <script src="/functions.js"></script>
    <p id="course-code">{{course['code']}}</p>
    <p id="check"></p>
    <script>
        var code = document.getElementById("course-code").innerHTML;
        document.getElementById("check").innerHTML = code;
    </script>
</html>