{% extends 'base.html' %}
{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Course</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                <li class="breadcrumb-item active">Course</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">
                    
                    <!-- Course Details -->
                    <div class="col-12">
                        <div class="card pt-3">
                            <div class="card-body">
                                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                    
                                    <h5 class="card-title">Course Details
                                    </h5>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">Auction Title</div>
                                        <div class="col-lg-9 col-md-8"><b>{{course['title']}}</b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">Instructor</div>
                                        <div class="col-lg-9 col-md-8">{{course['instructor']}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">Code</div>
                                        <div class="col-lg-9 col-md-8">{{course['code']}} <span style="color: gray;">(share this code with your students to join class)</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">Description</div>
                                        <div class="col-lg-9 col-md-8">{{course['description']}}</div>
                                    </div>
                                    {% if user == course['instructor'] %}
                      <!--               <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">Secret</div>
                                        <div class="col-lg-9 col-md-8"> <span>(only you can see)</span></div>
                                    </div> -->
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Course Details -->
                  
                </div>
            </div><!-- End Left side columns -->
        </div>
    </section>
    <script src="functions.js"></script>
    <p id="course-code">{{course['code']}}</p>
</main><!-- End #main -->
{% endblock %}