<html>
<head>
<style>
h1.title {
	font-family: "Verdana";
}
p {
	font-family: "Trebuchet MS";
}
label {
	font-family: "Trebuchet MS";
}
</style>
</head>
<body style="text-align: center;">

<h1 class="title">BottomHat</h1>
<hr>
<h2>Create or Join a course</h2>

<form action="/user-login">
  <label for="username">Username:</label>
  <input type="text" id="username" name="fname"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="lname"><br><br>
  <input type="submit" value="Login">
</form>

</body>
</html>
